.footer_container {
  padding: 60px 70px;
  justify-content: space-between;
  background-color: #486a6f;
  color: white;
  & a {
    color: white;
  }
}

.instagram {
  padding: 8px;
  background-color: #678c92;
  text-align: center;
}

.facebook {
  padding: 8px;
  background-color: #678c92;
}
