section {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

#home,
#contact {
  background-color: yellow;
}

#about {
  background-color: blue;
}
// Small devices & medium devices
@media (max-width: 767px) {
  #container {
    background: white;
  }
}
