#main_container {
  background: linear-gradient(42.43deg, #c6dbff 0%, #e1ebfa 52.25%);
  height: 100vh;
}
.main_content {
  width: 540px;
  height: 368px;
  gap: 20px;
  text-align: center;
  margin: auto;
}
