a {
  color: #678c92;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}

li {
  padding: 0 50px;
}

li:hover {
  font-size: 24px;
  background-color: #486a6f;
  transition: background-color 1s ease-out 50ms;
  opacity: 0.4;
  width: 100%;

  & a {
    color: white;
  }
}

.menu_content {
  display: flex;
  align-items: center;
  justify-self: center;
  height: 100%;
}
