@import "src/stylesheet/mixins.scss";

.menu_container {
  position: relative;
}
.img {
  @include onDevice(mobile) {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
  }
  @include onDevice(desktop) {
    display: none;
  }
  @include onDevice(tablet) {
    display: none;
  }
}

a {
  color: #678c92;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}

li {
  padding: 0 50px;
}

li:hover {
  font-size: 24px;
  background-color: #486a6f;
  transition: background-color 1s ease-out 50ms;
  opacity: 0.4;
  & a {
    color: white;
  }
}

.menu_content {
  display: flex;
  align-items: center;
  justify-self: center;
  height: 100%;

  @include onDevice(mobile) {
    display: none;
  }
}

.menu_active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  height: 100%;
  position: absolute;
  z-index: 999;
  // top: 0;
  left: 0;
}
