.center {
  display: flex;
  // justify-content: center;
  // align-items: center;
}
#about_home {
  background: linear-gradient(42.43deg, #c6dbff 0%, #e1ebfa 52.25%);
  height: 100vh;
}
#about_home_content {
  @extend .center;
}
.about_statistics,
.about_team {
  @extend .center;
}
.img_container {
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex: 1;
}

.about_img1,
.about_img2 {
  border-radius: 15px;
}

.about_img1 {
  width: 324px;
  height: 420px;
  border-radius: 15px;
  grid-column: 1/3;
  grid-row: 1/3;
}

.about_img2 {
  width: 220px;
  height: 285px;
  border-radius: 15px;
  grid-column: 2/4;
  grid-row: 2/4;
}

.about_team {
  width: 100%;
  height: 100%;
}

.about_information {
  flex: 1;
  background-color: blue;
}
