/* Remove default value */

$darkGreen: #486a6f;
$primary: #4397a4;
$secondary: #c6dbff;
$darkGreen2: #678c92;
$lightBlue: #f4f7ff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Remove default underline */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  object-fit: fill;
  border-radius: 3px;
}

body {
  font-size: 1em;
  font-family: "Noto Sans";
  font-style: normal;
  // To position bottom footer
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
